

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        


          <div class="card-body">
            <h1 class="card-title">
              <strong><%= @event.title %></strong>
            </h1>

            <p><strong>Description:</strong></p>
             <p> <%= @event.description %></p>
            

            <p>
            <p><strong>Lieu:</strong></p>
            <%= @event.location %></p>
            <p>Créé par <em><%= @event.admin.name %></em> <%= @event.admin.email %> </p>
            
            <p><strong>Debut:</strong></p>
            <p><%= @event.start_date %>
            </p>
            
            <p><strong>Fin:</strong></p>
            <p><%= @event.end_date %>
            </p>

            <p><strong>Prix:</strong></p>
            <p class="price"><%= @event.price %>€</p>
            <aside class="date">
                 
            
            <p><strong>Nombre de participants:</strong></p>
            <p><%= @event.participants.count %> personnes participent à cet évenement </p>
            </div>

            

            <%= link_to 'Edit', edit_event_path(@event) %> |
            <%= link_to 'Back', events_path %>

          
       
      </div>
    </div>
  </div>
</div>
